$radio-button-height: 26px;
$radio-button-width: 32px;

.add-product {
  &__options {
    text-align: center;
    &__option {
      padding: 5px;
      h3 { margin: 0; font-size: 1em; }
      &__Colour {
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__value {
          padding: 0 12px;
          position: relative;
          input[type="radio"] {
            height: $radio-button-height;
            width: $radio-button-width;
            position: absolute;
            top: 10px;
            display: none;
          }
          input[type="radio"] + label {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            display: inline-block;
            color: #666;
            margin: 10px;
            &.Red:before { background: $variant-red; }
            &.Blue:before { background: $variant-blue; }
            &.Green:before { background: $variant-green; }
            &.Black:before { background: $variant-black; }
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 10px;
              width: $radio-button-width;
              height: $radio-button-height;
              border-radius: 3px;
              border: 2px solid white;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            }
            &:after {
              content: '';
              width: $radio-button-width;
              height: $radio-button-height;
              position: absolute;
              top: 0px;
              left: 10px;
              border-radius: 3px;
              transition: all 0.4s ease;
              opacity: 0;
            }
          }
          input[type="radio"]:checked + label:after {
            opacity: 0.9;
            border: 1px solid #708090;
            display: flex;
            justify-content: center;
            content: '\2713';
            color: white;
            border-radius: 3px;;
          }
        }
      }
    }
  }
  &__quantity {
    display: flex;
    justify-content: center;
    align-items: baseline;
    i {
      font-size: 0.9em;
      margin: 0 8px;
      color: $color-body-text-1;
      opacity: 0.6;
      user-select: none;
      &:hover { cursor: pointer; opacity: 0.8; }
    }
    input {
      &:hover { cursor: pointer; }
      user-select: none;
      text-align: center;
      width: 40px;
      height: 30px;
      border: 2px solid rgba(226, 226, 226, 0.7);
      transition: border-color 0.3s;
      outline: none;
      border-radius: 2px;
      &[type=number]::-webkit-inner-spin-button,
      &[type=number]::-webkit-outer-spin-button {
          appearance: none;
          margin: 0;
      }
      &:focus {
        border-color: rgba(59, 136, 191, 0.7);
      }
    }
  }
  &__price {
    font-size: 1.4em;
    color: #787878;
    padding: 4px;
    font-weight: bold;
    font-family: $font-script-style;
  }
  &__error {
    display: none;
    color: $variant-red;
    padding: 0 5px 5px 5px;
    &.show {
      display: block;
    }
  }
  &__submit {
    position: relative;
    background: #1e1e1e;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
    padding: 12px 28px;
    color: $color-text-light-1;
    border: none;
    border-radius: 6px;
    margin: 10px;
    width: calc(100% - 40px);
    margin: 0 20px 8px 20px;
    box-sizing: border-box;
    i {
      opacity: 0;
      transition: all 0.3s;
      margin-top: 5px;
      transform: translateX(-5px);
      position: absolute;
      bottom: 39%;
      left: 74%;
      font-size: 0.6em;
    }
    &:disabled {
      background: #949494;
      cursor: default;
    }
    &:hover:not(:disabled) i {
      opacity: 1;
      transform: translate3d(0,0,0);
      left: 75%;
    }
  }
  &__success {
    display: none;
    width: 100%;
    width: calc(100% - 40px);
    margin: 0 20px 8px 20px;
    background: #c3e2f5;
    padding: 10px 4px 4px 4px;
    border-radius: 6px;
    &.show {
      display: block;
    }
    &__msg {
      text-align: center;
      color: $color-main-green;
    }
    &__btns {
      display: flex;
      button, a {
        width: 120px;
        height: 40px;
        margin: 6px;
        padding: 6px 12px;
        border-radius: 6px;
        flex-grow: 1;
        text-decoration: none;
      }
      &__review-cart {
        @include review-cart-btn;
      }
      &__checkout {
        @include checkout-btn;
      }
    }
  }
}
