.image-gallery {
  position: relative;
  overflow: scroll;
  height: 100%;
  width: 100%;
  touch-action: pan-x;
  @include media-min-size($screen-medium) {
    overflow: hidden;
  }
  &__images-container {
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
    &__single-image {
      width: 100%;
    }
  }
  &__actions {
    opacity: 0;
    z-index: 20;
    position: absolute;
    top: 50%;
    display: flex;
    width: 98%;
    justify-content: space-between;
    transition: opacity 0.5s;
    &.show-gallery-actions {
      opacity: 1;
    }
    &__icon {
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.5s;
      &.hide-icon { opacity: 0.3; cursor: default; }
      > i {
        font-size: 30px;
        color: #2f3133;
      }
    }
  }
}
