.image-gallery {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  &__images-container {
    display: flex;
    align-items: center;
    &__single-image {
      flex-shrink: 0;
      pointer-events: none;
    }
  }
  &__actions {
    opacity: 0;
    z-index: 3;
    position: absolute;
    top: 50%;
    display: flex;
    width: 98%;
    justify-content: space-between;
    transition: opacity 0.5s;
    &.show-gallery-actions {
      opacity: 1;
    }
    @media (hover: none) {
      display: none;
    }
    &__icon {
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.5s;
      &.hide-icon { opacity: 0.1; cursor: default; }
      > i {
        font-size: 2em;;
        color: #2f3133;
        @media (hover: none) {
          font-size: 0.9em;
        }
      }
    }
  }
  &__nav-dots-container {
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    &__dot {
      border-radius: 50%;
      background: $color-main-light-grey;
      width: 0.6em;
      height: 0.6em;
      margin: 0 3px;
      transition: background-color 0.4s;
      &.active {
        background: $color-main-gold;
      }
    }
  }
  &__swipe-instruction {
    position: absolute;
    bottom: 0;
    right: 10px;
    opacity: 0.5;
    font-size: 0.8em;
    @media (hover: hover) {
      display: none;
    }
  }
}
