.mini-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__line {
    display: flex;
    height: 150px;
    &__image {
      width: 100px;
    }
  }
}
