.product-browser {
  padding-bottom: 20px;
  border-bottom: 1px solid #cbcbcb;
  &__header {
    &__heading {

    }
    &__filters {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__products {
    @include products-grid;
  }
}
