.product-browser {
  padding-bottom: 20px;
  border-bottom: 1px solid #cbcbcb;
  &__header {
    &__heading {

    }
    &__filters {
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    &__product-link {
      width: calc(100% / 3 - 10px);
      text-decoration: none;
      color: $color-body-text-1;
      padding: 12px 2px;
    }
  }
}
