figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

// https://www.npmjs.com/package/vanilla-lazyload#-tips--tricks
img:not([src]) {
    visibility: hidden;
}

img[data-src],
img[data-srcset] {
  display: block;
  min-height: 1px;
}
