.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 { margin: 20px 0 0 0; }
  &__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    &__order-history {
      min-width: 500px;
      &__orders-table {
        flex-grow: 1;
        margin: 10px;
        padding: 20px;
        text-align: left;
        border: 1px solid $color-main-black;
        border-radius:  6px;
        a { @include text-link-alt; }
        td, th { padding: 6px 8px; }
      }
    }
    &__customer-details {
      padding: 20px;
      margin: 10px;
      a {
        @include text-link;
      }
    }
  }
}
