.account-orders {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  h2 { margin: 35px 0 0 0; }
  &__back {
    @include link;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 0.9em;
    i { font-size: 0.8em; }
  }
  &__date {
    margin-top: 6px;
    color: $color-main-grey;
  }
  &__table {
    margin: 4px;
    padding: 8px;
    text-align: left;
    border: 1px solid $color-main-black;
    border-radius:  4px;
    width: calc(100vw - 24px);
    @include media-min-size($screen-tablet) {
      width: calc(100vw - 32px);
      min-width: 375px;
      max-width: 900px;
      margin: 10px auto;
      padding: 20px;
    }
    @include media-min-size($screen-medium) {
      margin: 0 20px 0 0;
    }
    a { @include text-link-alt; }
    td, th { padding: 6px 8px; }
  }
  &__address {
    padding: 10px;
    border-bottom: 1px solid #d1d1d1;
  }
}
