@include createFadeKeyFrames(address-cards-fadein, 0, 1);

@mixin address-form {
  display: flex;
  justify-content: center;
  @include standard-form;
  div { position: relative; }
  label {
    opacity: 1;
    top: -20px;
    font-size: 1em;
  }
  input {
    width: 400px;
  }
  select { margin: 20px; padding: 6px; }
  &__fields {
    div { position: relative; height: 80px; }
    &__set-default {
      position: relative;
      display: flex;
      width: 200px;
      height: 50px;
      margin: 0 auto;
      transform: scale(1.2);
      label { top: 12px; left: 30px; }
    }
  }
  &__actions {
    display: flex;
    margin: 8px 0;
    button { flex-grow: 1; }
  }
}

.account-addresses {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 { margin: 20px 0; }
  &__add-new__form {
    @include address-form;
  }
  &__back {
    @include text-link;
    position: absolute;
    top: 30px;
    left: 30px;
    i { font-size: 0.9em; }
  }
  &__list {
    padding: 8px;
    text-align: center;
    &__grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 20px;
      text-align: left;
      &__item {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-between;
        min-width: 350px;
        max-width: 450px;
        height: 100%;
        margin: 6px;
        padding: 6px;
        padding: 20px;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        opacity: 0;
        animation: address-cards-fadein 0.6s forwards;
        p { margin: 0; }
        &__default {
          position: absolute;
          top: 5px;
          right: 5px;
          padding: 4px;
          border: 1px solid ;
          border-radius: 6px;
          color: $color-main-blue;
        }
        &__actions {
          display: flex;
          button { flex-grow: 1; }
          form {
            flex-grow: 1;
            button {
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__edit-form {
    @include standard-form;
    .address-form {
      flex-direction: column;
      align-items: center;
      div { position: relative; width: 100%; margin: 10px 0; }
      input { width: 100%; margin-top: 8px;padding-left: 0; }
      label { top: -10px; left: 0; opacity: 1; }
      &__set-default {
        position: relative;
        display: flex;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        transform: scale(1.2);
        label { top: 13px; left: 30px; opacity: 1; }
      }
    }
  }
  .primary-btn {
    @include primary-btn;
  }
  .secondary-btn {
    @include secondary-btn;
  }
  .delete-btn {
    @include delete-btn;
  }
  .cancel-btn {
    @include cancel-btn;
  }
}
