<div class="collection">
  <header role="banner" class="collection__header">
    <h1 class="collection__header__heading">{{ collection.title }}. </h1>
    {% if collection.description != blank %}
      <div class="collection__header__description rte">
        {{ collection.description }}
      </div>
    {% endif %}
  </header>
  <div class="collection__products" data-collection-products>
    {% comment %}
      Elements created in JS. See file sections/collection.js.
    {% endcomment %}
  </div>
</div>
