<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 833.89 839.89">
  <defs>
    <style>
      .icon-poker-tables-cls-1 {
        fill: #666;
      }

      .icon-poker-tables-cls-2 {
        fill: #e6e6e6;
      }

      .icon-poker-tables-cls-3 {
        fill: #333;
      }

      .icon-poker-tables-cls-4 {
        fill: #1a1a1a;
      }
    </style>
  </defs>
  <title>poker-tables-icon</title>
  <g>
    <path class="icon-poker-tables-cls-1" d="M804,805.16H31V32.23H804ZM43,793.22H792V44.17H43Z" transform="translate(0.15 -0.29)"/>
    <circle class="icon-poker-tables-cls-2" cx="417.65" cy="418.4" r="380.49"/>
    <path class="icon-poker-tables-cls-1" d="M417.5,805.16C204.41,805.16,31,631.79,31,418.69S204.41,32.23,417.5,32.23,804,205.6,804,418.69,630.6,805.16,417.5,805.16Zm0-761C211,44.17,43,212.18,43,418.69S211,793.22,417.5,793.22,792,625.21,792,418.69,624,44.17,417.5,44.17Z" transform="translate(0.15 -0.29)"/>
    <polygon class="icon-poker-tables-cls-1" points="833.89 346.46 802.7 346.46 802.7 334.52 821.95 334.52 821.95 11.94 506.09 11.94 506.09 45.9 494.15 45.9 494.15 0 833.89 0 833.89 346.46"/>
    <polygon class="icon-poker-tables-cls-1" points="339.74 839.88 0 839.88 0 493.42 31.18 493.42 31.18 505.37 11.94 505.37 11.94 827.95 327.8 827.95 327.8 793.98 339.74 793.98 339.74 839.88"/>
  </g>
  <g>
    <g>
      <g>
        <rect class="icon-poker-tables-cls-3" x="500.47" y="583.44" width="55.54" height="6.41" transform="translate(-60.57 1112.01) rotate(-89.75)"/>
        <path class="icon-poker-tables-cls-3" d="M532.46,615.57l-8.69,0,.26-57.82,8.68,0Zm-6.4-2.3,4.13,0,.24-53.27-4.13,0Z" transform="translate(0.15 -0.29)"/>
      </g>
      <g>
        <path class="icon-poker-tables-cls-3" d="M531.65,614.77l-7.07,0,.25-56.21,7.07,0Zm-6.4-.7,5.74,0,.25-54.88-5.75,0Z" transform="translate(0.15 -0.29)"/>
        <path class="icon-poker-tables-cls-3" d="M532.79,615.91l-9.35,0,.26-58.49,9.34,0Zm-6.4-3h3.47l.23-52.6h-3.46Z" transform="translate(0.15 -0.29)"/>
      </g>
    </g>
    <g>
      <g>
        <g>
          <circle class="icon-poker-tables-cls-3" cx="266.03" cy="678.09" r="6.71"/>
          <path class="icon-poker-tables-cls-3" d="M265.88,687.36h0a9,9,0,0,1,0-18h.05a9,9,0,0,1,8.94,9h0A9,9,0,0,1,265.88,687.36Zm0-13.41a4.43,4.43,0,0,0-3.14,7.55,4.45,4.45,0,0,0,3.12,1.31h0a4.43,4.43,0,0,0,4.43-4.41h0a4.42,4.42,0,0,0-4.4-4.45Z" transform="translate(0.15 -0.29)"/>
        </g>
        <g>
          <path class="icon-poker-tables-cls-3" d="M265.88,686.22h0a7.85,7.85,0,0,1,0-15.69h0a7.85,7.85,0,0,1,0,15.69Zm0-13.41a5.57,5.57,0,0,0,0,11.13h0a5.57,5.57,0,0,0,5.57-5.54h0a5.48,5.48,0,0,0-1.61-3.94,5.53,5.53,0,0,0-3.93-1.65Z" transform="translate(0.15 -0.29)"/>
          <path class="icon-poker-tables-cls-3" d="M265.88,688.5h0A10.12,10.12,0,1,1,276,678.42,10,10,0,0,1,265.85,688.5Zm0-15.69v2.28a3.24,3.24,0,0,0-2.31.95,3.3,3.3,0,0,0,2.3,5.63,3.31,3.31,0,0,0,3.31-3.28,3.29,3.29,0,0,0-3.28-3.3l0-2.28Z" transform="translate(0.15 -0.29)"/>
        </g>
      </g>
      <g>
        <g>
          <path class="icon-poker-tables-cls-3" d="M265.88,685.42h0a7.05,7.05,0,0,1-7-7.07,7,7,0,0,1,7-7h0a7,7,0,0,1,7,7.07,7,7,0,0,1-2.08,5A7,7,0,0,1,265.88,685.42Zm0-13.42a6.38,6.38,0,0,0,0,12.75h0a6.38,6.38,0,0,0,6.38-6.35h0a6.38,6.38,0,0,0-6.35-6.4Z" transform="translate(0.15 -0.29)"/>
          <path class="icon-poker-tables-cls-3" d="M265.88,687.69h0a9.32,9.32,0,0,1-9.29-9.35,9.31,9.31,0,0,1,15.93-6.52,9.31,9.31,0,0,1-6.62,15.87Zm0-14.08v.67a4.11,4.11,0,0,0-4.1,4.08,4.1,4.1,0,0,0,4.08,4.11,4.1,4.1,0,0,0,2.9-1.18,4,4,0,0,0,1.21-2.9,4.1,4.1,0,0,0-4.08-4.11v-.67Z" transform="translate(0.15 -0.29)"/>
        </g>
        <g>
          <path class="icon-poker-tables-cls-3" d="M265.88,686.56h0a8.19,8.19,0,1,1,5.78-2.38A8.12,8.12,0,0,1,265.86,686.56Zm0-14.08v.66a5.24,5.24,0,0,0-3.72,8.93,5.24,5.24,0,0,0,8.95-3.67,5.24,5.24,0,0,0-5.21-5.26v-.66Z" transform="translate(0.15 -0.29)"/>
          <path class="icon-poker-tables-cls-3" d="M265.88,688.83h0a10.45,10.45,0,0,1-10.43-10.5,10.46,10.46,0,0,1,20.91.09,10.45,10.45,0,0,1-10.46,10.41Zm0-2.94v0Zm0-10.47a3,3,0,0,0-2.11,5,3,3,0,0,0,2.1.88,3,3,0,0,0,3-3,3,3,0,0,0-2.94-3Z" transform="translate(0.15 -0.29)"/>
        </g>
      </g>
    </g>
    <g>
      <g>
        <g>
          <circle class="icon-poker-tables-cls-3" cx="568.65" cy="679.42" r="6.71"/>
          <path class="icon-poker-tables-cls-3" d="M568.5,688.69h0a9,9,0,0,1,0-18h0a9,9,0,0,1,9,9h0a9,9,0,0,1-9,8.94Zm0-13.41a4.43,4.43,0,1,0,4.43,4.45,4.42,4.42,0,0,0-4.41-4.45Z" transform="translate(0.15 -0.29)"/>
        </g>
        <g>
          <path class="icon-poker-tables-cls-3" d="M568.5,687.55h0a7.85,7.85,0,0,1,0-15.69h0a7.84,7.84,0,0,1,7.81,7.88h0a7.84,7.84,0,0,1-7.85,7.81Zm0-13.41a5.57,5.57,0,0,0,0,11.14h0a5.57,5.57,0,0,0,0-11.14Z" transform="translate(0.15 -0.29)"/>
          <path class="icon-poker-tables-cls-3" d="M568.5,689.83h0a10.12,10.12,0,1,1,9.91-12.36h.26l0,4.56h-.26a10.12,10.12,0,0,1-9.86,7.8Zm0-15.69v2.28a3.29,3.29,0,1,0,2.34,1,3.26,3.26,0,0,0-2.32-1l0-2.28Z" transform="translate(0.15 -0.29)"/>
        </g>
      </g>
      <g>
        <g>
          <path class="icon-poker-tables-cls-3" d="M568.5,686.75h0a7,7,0,0,1,0-14.08h0a7,7,0,0,1,7,7.07,7,7,0,0,1-2.08,5A7,7,0,0,1,568.5,686.75Zm0-13.42a6.38,6.38,0,0,0,0,12.75h0a6.37,6.37,0,0,0,6.38-6.35h0a6.39,6.39,0,0,0-6.35-6.4Z" transform="translate(0.15 -0.29)"/>
          <path class="icon-poker-tables-cls-3" d="M568.5,689h0a9.32,9.32,0,1,1,6.59-2.7A9.25,9.25,0,0,1,568.47,689Zm0-14.08v.67a4.1,4.1,0,1,0,2.88,7,4,4,0,0,0,1.21-2.9,4.1,4.1,0,0,0-4.08-4.11v-.67Z" transform="translate(0.15 -0.29)"/>
        </g>
        <g>
          <path class="icon-poker-tables-cls-3" d="M568.5,687.89h0a8.18,8.18,0,1,1,5.79-2.37A8.19,8.19,0,0,1,568.47,687.89Zm0-14.08v.66a5.24,5.24,0,1,0,5.23,5.26,5.25,5.25,0,0,0-5.23-5.26v-.66Z" transform="translate(0.15 -0.29)"/>
          <path class="icon-poker-tables-cls-3" d="M568.5,690.16h0a10.46,10.46,0,0,1-10.42-10.5,10.46,10.46,0,1,1,10.45,10.5Zm0-2.94v0Zm0-10.47a3,3,0,1,0,0,5.92,3,3,0,0,0,0-5.92Z" transform="translate(0.15 -0.29)"/>
        </g>
      </g>
    </g>
    <g>
      <g>
        <g>
          <rect class="icon-poker-tables-cls-3" x="287.91" y="582.51" width="55.54" height="6.41" transform="translate(-271.26 898.53) rotate(-89.75)"/>
          <path class="icon-poker-tables-cls-3" d="M319.9,614.64l-8.68,0,.25-57.82,8.68,0Zm-6.4-2.31,4.13,0,.24-53.26-4.13,0Z" transform="translate(0.15 -0.29)"/>
        </g>
        <g>
          <path class="icon-poker-tables-cls-3" d="M319.1,613.83l-7.08,0,.25-56.21,7.07,0Zm-6.41-.69,5.75,0,.24-54.88-5.75,0Z" transform="translate(0.15 -0.29)"/>
          <path class="icon-poker-tables-cls-3" d="M320.23,615l-9.35-.05.26-58.48,9.35,0Zm-6.39-3,3.46,0,.23-52.6-3.46,0Z" transform="translate(0.15 -0.29)"/>
        </g>
      </g>
      <g>
        <g>
          <g>
            <path class="icon-poker-tables-cls-3" d="M571.7,682.54l-6.41,0,.21-47a14.22,14.22,0,0,0-4.39-10.78c-7.94-7.6-23.82-7.05-24-7.05l-239.32-1c-.37,0-16.22-.71-24.22,6.82a14.21,14.21,0,0,0-4.49,10.77l-.21,47-6.41,0,.21-47a20.61,20.61,0,0,1,6.52-15.4c10-9.37,28-8.57,28.77-8.54l239,1c.64,0,18.64-.67,28.56,8.8a20.6,20.6,0,0,1,6.37,15.43Z" transform="translate(0.15 -0.29)"/>
            <path class="icon-poker-tables-cls-3" d="M574,684.83l-11-.05.22-49.31a11.92,11.92,0,0,0-3.68-9.13c-6.88-6.57-20.82-6.45-22.35-6.41l-239.43-1c-4.33-.22-16.56.47-22.65,6.21a11.92,11.92,0,0,0-3.78,9.14l-.21,49.26-11,0,.21-49.32a22.85,22.85,0,0,1,7.25-17c10-9.36,27-9.27,30.35-9.15l239,1c3.31-.08,20.23,0,30.12,9.43a22.82,22.82,0,0,1,7.08,17.07Zm-6.39-4.59h1.86l.19-44.78A18.35,18.35,0,0,0,564,621.7c-8.77-8.38-25-8.22-26.86-8.17l-239.15-1c-2-.07-18.36-.38-27.21,7.93a18.4,18.4,0,0,0-5.8,13.76l-.2,44.74h1.85l.2-44.73a16.45,16.45,0,0,1,5.2-12.42c8.81-8.28,25.74-7.45,25.91-7.44l239.21,1c2.85-.06,17.56,0,25.59,7.67a16.37,16.37,0,0,1,5.08,12.42Z" transform="translate(0.15 -0.29)"/>
          </g>
          <g>
            <path class="icon-poker-tables-cls-3" d="M572.83,683.68l-8.69,0,.22-48.17a13.15,13.15,0,0,0-4-10c-7.21-6.89-21.58-6.76-23.17-6.73l-239.4-1c-.21,0-15.81-.65-23.43,6.52a13.14,13.14,0,0,0-4.13,10L270,682.35l-8.69,0,.21-48.17a21.71,21.71,0,0,1,6.89-16.23c9.65-9.06,26.3-8.94,29.53-8.84l239,1c3.27-.08,19.78,0,29.34,9.12A21.68,21.68,0,0,1,573,635.48Zm-6.4-2.3,4.13,0,.2-45.92a19.5,19.5,0,0,0-6-14.61c-8.91-8.5-24.59-8.55-27.68-8.48l-239.12-1c-3.18-.12-19-.22-28,8.22a19.53,19.53,0,0,0-6.16,14.59l-.2,45.89h4.13l.2-45.87a15.34,15.34,0,0,1,4.84-11.59c8.46-8,24.9-7.15,25.07-7.13l239.27,1c1.7,0,16.93-.17,24.8,7.37a15.25,15.25,0,0,1,4.73,11.59Z" transform="translate(0.15 -0.29)"/>
            <path class="icon-poker-tables-cls-3" d="M575.1,686l-13.24-.06.22-50.45a10.74,10.74,0,0,0-3.33-8.29c-6.49-6.21-20-6.14-21.55-6.1L297.75,620c-.27,0-15-.56-21.86,5.89a10.9,10.9,0,0,0-3.42,8.33l-.22,50.4L259,684.58l.22-50.45a24,24,0,0,1,7.61-17.88c10-9.34,26.37-9.57,31.15-9.46l239,1.05c3.33-.09,20.66,0,30.91,9.74a23.93,23.93,0,0,1,7.43,17.89Z" transform="translate(0.15 -0.29)"/>
          </g>
        </g>
        <g>
          <g>
            <path class="icon-poker-tables-cls-3" d="M572,682.87l-7.08,0,.21-47.36a13.82,13.82,0,0,0-4.28-10.54c-7.43-7.12-22.09-7-23.74-7l-239.38-1c-.17,0-16.09-.7-24,6.73a13.93,13.93,0,0,0-4.38,10.53l-.21,47.34-7.07,0,.21-47.37A21,21,0,0,1,269,618.5c9.43-8.85,25.77-8.72,29-8.63l239.06,1c3.22-.08,19.46,0,28.79,8.89a20.92,20.92,0,0,1,6.47,15.67Zm-6.41-.69,5.74,0,.21-46.72a20.26,20.26,0,0,0-6.27-15.19c-9.14-8.72-25.14-8.76-28.25-8.71l-239.11-1c-3.2-.12-19.3-.23-28.54,8.45A20.3,20.3,0,0,0,263,634.15l-.2,46.7,5.74,0,.2-46.67a14.63,14.63,0,0,1,4.6-11c8.23-7.74,24.3-6.9,24.47-6.91l239.3,1.05c1.71,0,16.62-.16,24.25,7.14a14.52,14.52,0,0,1,4.49,11Z" transform="translate(0.15 -0.29)"/>
            <path class="icon-poker-tables-cls-3" d="M574.29,685.16l-11.62,0,.22-49.65a11.57,11.57,0,0,0-3.58-8.87c-7-6.67-21.48-6.34-22.11-6.33l-239.44-1c-.29,0-15.26-.62-22.43,6.12a11.61,11.61,0,0,0-3.66,8.9l-.22,49.6-11.63-.06.22-49.64a23.14,23.14,0,0,1,7.35-17.29c9.68-9.09,25.86-9.36,30.58-9.25l239,1c3.3-.08,20.38,0,30.35,9.52a23.11,23.11,0,0,1,7.18,17.31Zm-6.38-5.25h1.19l.19-44.45a18,18,0,0,0-5.57-13.53c-8.13-7.77-22.46-8.14-26.64-8.08l-239.14-1c-1.92-.07-18.16-.45-27,7.83a18.13,18.13,0,0,0-5.7,13.53l-.2,44.4h1.19l.2-44.4a16.74,16.74,0,0,1,5.31-12.67c8.17-7.68,23.1-7.6,26-7.53l239.34,1h.15c5.45,0,18.37.78,25.67,7.77a16.69,16.69,0,0,1,5.19,12.66Z" transform="translate(0.15 -0.29)"/>
          </g>
          <g>
            <path class="icon-poker-tables-cls-3" d="M573.16,684l-9.35,0,.21-48.51a12.79,12.79,0,0,0-3.92-9.71c-7.31-7-22.29-6.65-22.93-6.64l-239.41-1c-.23,0-15.73-.61-23.2,6.42a12.85,12.85,0,0,0-4,9.72l-.22,48.47-9.34-.05.21-48.5a22,22,0,0,1,7-16.47c9.36-8.79,25.13-9.07,29.77-8.94l239,1c3.24-.09,19.93,0,29.57,9.2a22,22,0,0,1,6.83,16.5Zm-6.4-3h3.47l.2-45.59a19.17,19.17,0,0,0-5.92-14.36c-8.44-8.06-23.14-8.48-27.45-8.39l-239.12-1c-3.1-.11-18.79-.28-27.76,8.14a19.19,19.19,0,0,0-6.06,14.35l-.2,45.54,3.47,0,.2-45.54a15.68,15.68,0,0,1,5-11.84c7.84-7.37,22.36-7.29,25.18-7.22l239.38,1c5.3.07,18,.69,25,7.46A15.56,15.56,0,0,1,567,635.47Z" transform="translate(0.15 -0.29)"/>
            <path class="icon-poker-tables-cls-3" d="M575.43,686.3l-13.91-.06.23-50.78a10.48,10.48,0,0,0-3.23-8.05c-6.57-6.3-20.7-6-21.29-6l-239.48-1c-.69,0-15-.42-21.64,5.8a10.58,10.58,0,0,0-3.3,8.1L272.58,685l-13.9-.07.22-50.78A24.26,24.26,0,0,1,266.61,616c10-9.42,26.57-9.67,31.39-9.56l239,1c3.28-.11,20.75-.07,31.12,9.84a24.22,24.22,0,0,1,7.54,18.13Z" transform="translate(0.15 -0.29)"/>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <rect class="icon-poker-tables-cls-3" x="294.04" y="586.48" width="53.81" height="1.28" transform="translate(-318.44 783.59) rotate(-78.44)"/>
            <rect class="icon-poker-tables-cls-3" x="292.9" y="585.34" width="56.09" height="3.55" transform="translate(-318.42 783.65) rotate(-78.44)"/>
          </g>
          <g>
            <rect class="icon-poker-tables-cls-3" x="292.9" y="585.34" width="56.09" height="3.55" transform="translate(-318.42 783.65) rotate(-78.44)"/>
            <path class="icon-poker-tables-cls-3" d="M318,616.3l-5.71-1.17,11.68-57.19,5.71,1.17Zm-3-2.95,1.25.26L327,560.88l-1.25-.25Z" transform="translate(0.15 -0.29)"/>
          </g>
        </g>
        <g>
          <g>
            <path class="icon-poker-tables-cls-3" d="M316.45,614l-1.9-.39.06-.32,10.84-53,1.9.39-.07.32Zm-1.12-.91.6.13,10.63-52.07L326,561Z" transform="translate(0.15 -0.29)"/>
            <polygon class="icon-poker-tables-cls-3" points="317.48 615.05 313.36 614.21 313.64 612.78 324.7 558.6 328.84 559.45 317.48 615.05"/>
          </g>
          <g>
            <polygon class="icon-poker-tables-cls-3" points="317.48 615.05 313.36 614.21 313.64 612.78 324.7 558.6 328.84 559.45 317.48 615.05"/>
            <path class="icon-poker-tables-cls-3" d="M318.22,616.69l-6.35-1.3.51-2.55,11.29-55.29,6.36,1.3Zm-3.67-3.08,1.9.39,10.9-53.37-1.9-.39Z" transform="translate(0.15 -0.29)"/>
          </g>
        </g>
      </g>
      <g>
        <g>
          <g>
            <g>
              <polygon class="icon-poker-tables-cls-3" points="527.64 614.24 517.26 558.65 518.51 558.42 528.89 614.01 527.64 614.24"/>
              <rect class="icon-poker-tables-cls-3" x="521.16" y="557.21" width="3.55" height="58.83" transform="translate(-98.64 105.65) rotate(-10.58)"/>
            </g>
            <g>
              <rect class="icon-poker-tables-cls-3" x="521.16" y="557.21" width="3.55" height="58.83" transform="translate(-98.64 105.65) rotate(-10.58)"/>
              <path class="icon-poker-tables-cls-3" d="M525.67,617.19l-11.21-60.07,5.73-1.06,11.21,60.06Zm-8.56-58.25,10.38,55.59,1.26-.23-10.38-55.59Z" transform="translate(0.15 -0.29)"/>
            </g>
          </g>
          <g>
            <g>
              <path class="icon-poker-tables-cls-3" d="M527.23,614.92l-10.5-56.25,1.9-.35,10.51,56.24Zm-9.73-55.71,10.26,54.94.6-.12L518.1,559.1Z" transform="translate(0.15 -0.29)"/>
              <polygon class="icon-poker-tables-cls-3" points="526.47 615.96 515.54 557.47 519.69 556.71 530.61 615.18 526.47 615.96"/>
            </g>
            <g>
              <polygon class="icon-poker-tables-cls-3" points="526.47 615.96 515.54 557.47 519.69 556.71 530.61 615.18 526.47 615.96"/>
              <path class="icon-poker-tables-cls-3" d="M525.41,617.57l-11.34-60.72,6.39-1.18,11.33,60.71Zm-8.68-58.89,10.5,56.24,1.91-.36-10.51-56.24Z" transform="translate(0.15 -0.29)"/>
            </g>
          </g>
        </g>
        <g>
          <g>
            <g>
              <path class="icon-poker-tables-cls-3" d="M661,407.54c-.44-1.57-45-157.26-75-218.56-30.71-62.81-157.45-64.07-162.83-64.1S291,125,259.76,187.55c-30.52,61-76.49,216.32-76.91,217.78-.73,2.19-17.08,54.25,45.64,110.53,62,55.64,185.43,61.64,190.66,61.87l.28-6.41c-1.25-.05-126.37-6.13-186.66-60.24-59.42-53.31-44-103.24-43.81-103.83.46-1.56,46.27-156.32,76.52-216.84,29.5-59,156.36-59.13,157.63-59.12s128.14,1.26,157.11,60.51c29.72,60.78,74.16,215.94,74.63,217.59.16.5,15.15,50.56-44.73,103.35-60.78,53.58-185.94,58.55-187.19,58.6l.22,6.4c5.23-.18,128.71-5.09,191.21-60.18C677.56,461.83,661.67,409.63,661,407.54Z" transform="translate(0.15 -0.29)"/>
              <path class="icon-poker-tables-cls-3" d="M422.05,578.92l-.3-8.68,1.14,0c1.25-.05,126.08-5.07,186.48-58.31,59.15-52.15,44.55-101.66,44.4-102.15-.45-1.58-44.69-156.32-74.57-217.44-28.62-58.53-154.82-59.87-156.09-59.87h0c-2.63,0-127.6.55-156.58,58.49-30.37,60.77-76,215.11-76.44,216.65-.17.52-15.19,50,43.47,102.67,59.9,53.75,184.69,59.89,186,59.94l1.13.05-.37,8.69-1.14,0c-5.25-.24-129.15-6.33-191.37-62.17C164.27,459.77,181,407.18,181.78,405c.41-1.44,46.3-156.62,77-217.93,31.55-63.11,159-63.3,164.41-63.3S556,125.07,587,188.48c30,61.3,74.39,216.26,75.09,218.73s16.67,55.09-47,111.2c-62.74,55.31-186.67,60.29-191.92,60.47Zm2.06-6.5.14,4.14c13.59-.6,129.64-7.22,189.35-59.86,62.73-55.3,47-106.65,46.31-108.81v0c-.44-1.56-45-157.06-74.95-218.37C554.56,127.33,428.49,126,423.14,126s-131.43.18-162.36,62C230.2,249.2,184.38,404.16,184,405.65c-.74,2.2-17,53.41,45.31,109.36,59.21,53.14,175.22,60.8,188.8,61.52l.18-4.13c-12.76-.75-128.81-8.94-186.23-60.47-59.79-53.64-44.29-104.52-44.13-105,.45-1.51,46.12-156,76.58-217C279.92,159,322,144.41,354.65,137.61a373.57,373.57,0,0,1,68.43-7.46h0a373.09,373.09,0,0,1,68.41,8.07c32.55,7.08,74.54,22,89.72,53.08,30,61.3,74.26,216.23,74.7,217.78.15.47,15.46,51.14-45.07,104.52C553,564.63,436.87,571.79,424.11,572.42Z" transform="translate(0.15 -0.29)"/>
            </g>
            <g>
              <path class="icon-poker-tables-cls-3" d="M422.83,578.09l-.24-7.07h.33c1.26,0,126.64-5.32,187-58.52,59.81-52.73,44.79-102.5,44.63-103-.44-1.55-45.09-157.17-74.6-217.55C551,132.82,424.39,131.63,423.11,131.62s-127.93.16-157.33,58.94c-30.08,60.18-76,215.24-76.5,216.78,0,.14-4,12.8-.44,32,3.22,17.43,13.49,44,44.15,71.5,59.94,53.78,185.19,60.09,186.45,60.15l.33,0-.3,7.06h-.34c-5.23-.23-128.78-6.23-190.86-62-63-56.54-46.47-108.68-45.73-110.87.43-1.49,46.4-156.78,76.92-217.83,31.35-62.7,158.31-62.88,163.68-62.85s132.33,1.3,163.13,64.29c30.17,61.7,74.49,216.66,75,218.6C662,409.71,678,461.9,614.58,517.8c-62.53,55.13-186.18,60.09-191.42,60.28Zm.44-6.44.2,5.75c8.75-.34,129.29-6,190.67-60.1,63.13-55.66,47.24-107.48,46.54-109.66h0c-.44-1.55-44.81-156.77-75-218.5-30.62-62.62-157.16-63.89-162.53-63.92s-131.92.16-163.08,62.48c-30.5,61-76.45,216.23-76.89,217.73-.73,2.19-17.16,53.93,45.55,110.19C289.65,570.3,410.09,577,418.83,577.38l.25-5.74c-7.23-.39-127.94-7.73-186.53-60.31-30.8-27.64-41.13-54.34-44.36-71.87-3.58-19.36.42-32.18.46-32.31.45-1.54,46.43-156.65,76.53-216.88C294.56,131.53,420.09,131,423.07,131h.05c1.27,0,128.31,1.21,157.4,60.69,29.54,60.43,74.21,216.11,74.65,217.65.16.49,15.3,50.67-44.83,103.69-17.37,15.32-51.62,36.33-116.07,49.45A498,498,0,0,1,423.27,571.65Z" transform="translate(0.15 -0.29)"/>
              <path class="icon-poker-tables-cls-3" d="M421.73,579.25l-.32-9.32,1.46-.06c1.26,0,126.2-5.27,186.28-58.23,59-52,44.45-101.31,44.3-101.8-.45-1.59-45.07-157.09-74.55-217.4-28.63-58.56-154.52-59.67-155.79-59.68a373.62,373.62,0,0,0-68,7.43c-32,6.67-73.34,20.92-88.33,50.88-30.05,60.13-76,215.05-76.41,216.6,0,.14-3.89,12.65-.42,31.46,3.19,17.26,13.37,43.56,43.79,70.86,59.86,53.71,184.49,59.81,185.74,59.86l1.47.07-.41,9.33-1.45,0c-5.26-.23-129.22-6.27-191.59-62.25-63.58-57-46.8-109.86-46-112.08.42-1.46,46.38-156.77,77-218,31.68-63.35,159.27-63.42,164.71-63.48s133.05,1.34,164.14,64.93c30.08,61.5,74.67,217.23,75.11,218.79.71,2.18,16.9,55.13-47.07,111.53C552.5,574,428.46,579,423.21,579.22Zm2.72-6.51.12,3.47c13.61-.64,129.65-7.6,188.81-59.76C676,461.27,660.29,410.14,659.59,408c-.45-1.6-44.83-156.78-74.94-218.36-30.33-62-156.17-63.25-161.51-63.28-3.61.11-36.12.17-71.62,7.84-32.45,7-74.48,22.09-90.44,54-30.23,60.45-76.38,216-76.81,217.54-.74,2.19-16.92,53.28,45.21,109,58.67,52.67,174.65,60.66,188.26,61.42l.15-3.47c-13.5-.84-129.2-9.46-186.1-60.53-31-27.85-41.45-54.81-44.72-72.52-3.61-19.52.32-32.32.49-32.85.45-1.53,46.53-156.88,76.6-217,29.64-59.26,153.65-59.94,158.91-59.94,1.33,0,129,1.14,158.48,61.33S655.83,407.45,656.27,409c.15.47,15.57,51.29-45.17,104.86-17.49,15.4-51.9,36.54-116.6,49.7A505.6,505.6,0,0,1,424.45,572.74Z" transform="translate(0.15 -0.29)"/>
            </g>
          </g>
          <g>
            <g>
              <g>
                <path class="icon-poker-tables-cls-3" d="M612.27,374.09c-.36-1.28-36-128.49-59.89-178.53-24.3-50.81-125-51.83-129.31-51.85s-105,.13-129.77,50.71C269,244.25,232.21,371.14,231.85,372.36c-.14.45-3.51,11.14-.72,27.58,2.56,15.06,11.05,38,36.93,61.76C317.38,507,418.87,512,419.89,512l.14-3.3c-1-.05-101.38-5-149.83-49.49-25.11-23.05-33.38-45.16-35.88-59.65-2.71-15.67.54-26.07.59-26.22.37-1.28,37-127.89,61.26-177.45C320,147.13,422,147,423.06,147s103,1,126.43,50c23.8,49.77,59.34,176.71,59.71,178,0,.1,3.2,10.52.35,26.17-2.63,14.47-11.09,36.51-36.4,59.33-48.84,44.05-149.24,48.14-150.26,48.17L423,512c1,0,102.55-4.16,152.26-49,26.1-23.53,34.78-46.4,37.48-61.43C615.68,385.2,612.39,374.48,612.27,374.09Z" transform="translate(0.15 -0.29)"/>
                <path class="icon-poker-tables-cls-3" d="M421.91,513.22l-.19-5.59,1.13,0a381.73,381.73,0,0,0,57-7.55c28.38-5.92,67.47-17.72,92.53-40.32s33.45-44.4,36-58.69c2.8-15.43-.28-25.52-.31-25.62-.37-1.32-35.83-128.06-59.66-177.9-23.11-48.35-124.39-49.35-125.41-49.36h0c-2.47,0-102.45.47-125.81,48.26-24.15,49.4-60.83,176-61.19,177.26,0,.14-3.23,10.32-.56,25.72,2.47,14.31,10.64,36.17,35.52,59s63.85,35,92.17,41.13a382,382,0,0,0,56.93,8.06l1.14.05-.23,5.58-1.15-.05a388.3,388.3,0,0,1-58-8.24c-29-6.32-68.87-18.81-94.56-42.38-26.12-24-34.69-47.17-37.28-62.41-2.76-16.23.39-26.94.76-28.11,1.52-5.26,37.54-129,61.51-178.1,24.65-50.41,123.4-51.35,130.53-51.35h.27c4.3,0,105.74,1.09,130.32,52.5,23.76,49.74,59.37,176.57,60,178.7.21.68,3.45,11.55.5,28.05C611.13,417,602.36,440.15,576,463.9c-49.35,44.48-148.76,49.1-153,49.27Zm2.16-3.41,0,1c11.93-.62,103.88-6.69,150.4-48.63,25.85-23.32,34.45-45.93,37.12-60.79,2.88-16.14-.3-26.56-.44-27v0c-.35-1.27-36.06-128.6-59.82-178.34-24-50.14-124-51.18-128.28-51.2s-104.33.14-128.74,50.08C270.45,243.8,234.48,367.41,233,372.65c-.37,1.17-3.38,11.4-.71,27.1,2.54,14.89,10.94,37.57,36.58,61.11,45.8,42,138.6,49.22,150,49.95l0-1a393.2,393.2,0,0,1-56.18-8c-28.6-6.23-68-18.51-93.23-41.68s-33.7-45.63-36.23-60.3c-2.75-15.93.6-26.67.63-26.77.36-1.22,37.08-128,61.32-177.59,24-49,125.39-49.53,127.87-49.53h0c1,0,103.74,1,127.46,50.65,23.91,50,59.43,177,59.78,178.22,0,0,3.29,10.61.37,26.69-2.66,14.63-11.2,36.92-36.76,60S509,496.29,480.32,502.26A390.62,390.62,0,0,1,424.07,509.81Z" transform="translate(0.15 -0.29)"/>
              </g>
              <g>
                <path class="icon-poker-tables-cls-3" d="M422.68,512.38l-.13-4h.33A383.75,383.75,0,0,0,480,500.82c51.59-10.75,79-28,92.9-40.5,25.26-22.77,33.68-44.73,36.3-59.15,2.84-15.61-.3-25.91-.33-26-.36-1.28-35.9-128.22-59.7-178-23.29-48.74-125.11-49.82-126.13-49.82H423c-2.84,0-103,.49-126.53,48.7-24,49.17-60.87,176.12-61.24,177.4,0,.11-3.29,10.41-.58,26.07C237.14,414,245.37,436,270.43,459c13.79,12.66,41.05,30.11,92.54,41.32A381.21,381.21,0,0,0,420,508.38l.33,0-.16,4-.34,0A387.67,387.67,0,0,1,362,504.14c-52.29-11.42-80.08-29.25-94.18-42.2-25.95-23.82-34.47-46.83-37-61.94-2.71-16,.37-26.57.73-27.73,1.53-5.27,37.52-129,61.47-178,24.41-49.91,122.2-50.9,129.75-50.9h.32c4.29,0,105.22,1,129.6,52C576.37,245,611.1,368.68,612.59,374c.16.52,3.41,11.29.47,27.69-2.7,15.09-11.42,38-37.58,61.62C526,507.92,424,512.33,423,512.36Zm.55-3.33.09,2.63c6.48-.3,103.82-5.69,151.72-48.88,26-23.46,34.69-46.25,37.37-61.24,2.92-16.29-.32-26.93-.46-27.37h0c-1.47-5.24-36.2-128.93-59.87-178.47-24.21-50.64-124.74-51.65-129-51.67s-104.8.08-129.47,50.53c-23.93,49-59.9,172.62-61.42,177.86-.37,1.18-3.41,11.64-.72,27.46,2.55,15,11,37.87,36.83,61.57,14,12.88,41.73,30.64,93.87,42a390.76,390.76,0,0,0,57.41,8.18l.11-2.64A384.44,384.44,0,0,1,362.83,501c-51.64-11.24-79-28.76-92.85-41.48-25.19-23.12-33.47-45.3-36-59.84-2.74-15.83.57-26.28.6-26.39C235,372,271.81,245,295.88,195.76c23.74-48.58,124.26-49.08,127.12-49.08h.06c1,0,103.26,1.09,126.73,50.2C573.61,246.71,609.17,373.7,609.52,375c0,.07,3.25,10.44.35,26.32-2.63,14.52-11.11,36.62-36.5,59.52-14,12.6-41.48,29.88-93.22,40.67A389,389,0,0,1,423.23,509.05Z" transform="translate(0.15 -0.29)"/>
                <path class="icon-poker-tables-cls-3" d="M421.58,513.56l-.12-3.81-.17,3.81-1.47-.07a391.28,391.28,0,0,1-58-8.24c-52.54-11.48-80.5-29.43-94.71-42.47-26.19-24-34.79-47.3-37.39-62.59-2.76-16.23.4-27.07.77-28.25C232,366.7,268,242.79,292,193.78c10.36-21.18,34.57-36.25,72-44.78a290.8,290.8,0,0,1,58.8-6.76h.32c4.32,0,106,1.09,130.63,52.69,23.67,49.54,58.51,173.5,60,178.76.35,1.14,3.42,11.86.5,28.19-2.74,15.27-11.55,38.46-37.94,62.26-50,45.05-152.17,49.32-153.19,49.36Zm2.83-3.43v.36c12-.7,104.13-7.31,149.86-48.53,25.78-23.25,34.36-45.79,37-60.6,2.87-16.07-.29-26.4-.42-26.83-1.48-5.28-36.22-128.93-59.82-178.33-23.91-50-123.75-51-128-51-10.7,0-104.86,1.65-128.45,49.89-23.75,48.62-59.82,172.43-61.35,177.67-.35,1.14-3.33,11.41-.69,26.95,2.53,14.84,10.9,37.46,36.48,60.93C283,473.41,310.51,491,362.4,502.38a392.47,392.47,0,0,0,56.08,8.08v-.36a392.65,392.65,0,0,1-55.9-8c-51.9-11.29-79.43-28.94-93.38-41.76-25.43-23.33-33.8-45.77-36.34-60.48-2.78-16.12.61-26.82.65-26.93.35-1.23,37.16-128.21,61.33-177.64,24-49.15,123.91-49.72,128.16-49.72,1.09,0,104,1,127.81,50.85,24,50.3,59.44,177,59.8,178.27h0s3.34,10.56.38,26.84c-2.67,14.68-11.24,37-36.87,60.15-14.07,12.7-41.76,30.11-93.74,40.94A396.35,396.35,0,0,1,424.41,510.13Zm-1.36-361.65c-4.21,0-102.33.55-125.55,48.07-24,49.09-60.8,175.94-61.17,177.22,0,.13-3.2,10.3-.56,25.56,2.47,14.26,10.61,36,35.42,58.82,13.7,12.57,40.77,29.89,92,41.05a383.19,383.19,0,0,0,56.88,8.05l1.47.05,1.28,0a380.11,380.11,0,0,0,57-7.55c51.33-10.7,78.57-27.79,92.37-40.24,25-22.56,33.36-44.26,35.94-58.5,2.77-15.21-.27-25.37-.3-25.47-.37-1.31-35.87-128.12-59.64-177.84C525.25,149.7,424.07,148.49,423.05,148.48Z" transform="translate(0.15 -0.29)"/>
              </g>
            </g>
            <g>
              <g>
                <path class="icon-poker-tables-cls-3" d="M422.39,512.7l-.16-4.59.64,0c1,0,100.82-3.79,149.85-48,25.18-22.71,33.59-44.6,36.2-59,2.79-15.36-.3-25.77-.33-25.87-.36-1.29-36-128.51-59.68-177.95-23.25-48.63-124.83-49.64-125.86-49.65s-102.62.11-126.3,48.54c-24.07,49.23-60.85,176.07-61.22,177.35,0,.11-3.26,10.4-.58,25.93,2.49,14.39,10.7,36.36,35.68,59.29,48.65,44.65,148.42,49.28,149.42,49.32l.64,0-.19,4.59-.64,0a383.92,383.92,0,0,1-57.9-8.22c-28.9-6.31-68.72-18.77-94.32-42.27-26-23.88-34.56-47-37.14-62.12-2.74-16.11.37-26.72.74-27.88,1.53-5.27,37.56-129,61.49-178,24.91-50.95,126-51.09,130.34-51.07S528.5,144.12,553,195.29c23.79,49.76,59.39,176.66,59.93,178.62.18.57,3.45,11.29.48,27.82-2.7,15.14-11.44,38.15-37.67,61.79C549.88,486.8,510,498.91,481,505a384.21,384.21,0,0,1-58,7.71Zm.68-368.35c-4.26,0-104.63.12-129.19,50.36C270,243.59,234,367.26,232.48,372.5c-.37,1.18-3.41,11.52-.72,27.33,2.55,15,11,37.76,36.73,61.39,25.4,23.31,65,35.69,93.73,42a395.19,395.19,0,0,0,57.06,8.15l.08-2c-8.69-.48-102.67-6.56-149.59-49.62-25.26-23.18-33.56-45.43-36.07-60-2.76-15.9.58-26.42.6-26.53.37-1.25,37.18-128.21,61.3-177.53,24-49.14,126.43-49.26,127.46-49.26s103.42,1,127,50.38c23.68,49.54,59.4,176.86,59.74,178.13,0,.06,3.27,10.48.36,26.47-2.64,14.56-11.13,36.74-36.6,59.69-47.29,42.66-141.32,47.91-150,48.31l.07,2a395.82,395.82,0,0,0,57.12-7.65c28.8-6,68.5-18.06,94.1-41.14,26-23.41,34.59-46.12,37.27-61.07,2.92-16.32-.3-26.78-.45-27.22v0c-.36-1.27-36.07-128.62-59.86-178.41C527.68,145.39,427.32,144.37,423.07,144.35Z" transform="translate(0.15 -0.29)"/>
                <path class="icon-poker-tables-cls-3" d="M421.58,513.89h-.29l-1.49-.09a380.11,380.11,0,0,1-58.09-8.24c-29-6.34-69.06-18.87-94.84-42.54-26.27-24.1-34.88-47.44-37.49-62.77-2.8-16.47.4-27.24.78-28.42s37.18-128.31,61.55-178.18c24.79-50.72,123.55-51.71,131.06-51.71h.31c4.32,0,106.13,1,130.9,52.87,23.86,49.92,59.65,177.54,60,178.8.58,1.94,3.35,12.44.5,28.33-2.73,15.31-11.55,38.57-38,62.44-26,23.45-66.13,35.62-95.22,41.71a383.19,383.19,0,0,1-58.16,7.73ZM423,148.79c-2.46,0-102,.46-125.24,47.91-24,49.07-60.78,175.88-61.15,177.15,0,.13-3.17,10.28-.55,25.43,2.46,14.21,10.59,35.93,35.33,58.64,48.26,44.29,147.7,49,148.7,49l1.34.05,1.4,0c1,0,100.46-3.83,149.12-47.71,24.94-22.49,33.26-44.13,35.84-58.32,2.71-15-.27-25.22-.3-25.32-.36-1.3-36.18-128.8-59.61-177.81-22.95-48-123.82-49-124.84-49ZM233.55,372.9l.81.06-.76-.23,0,.09A.31.31,0,0,1,233.55,372.9ZM375.22,150c-13.49,2.44-28.1,6.19-41.36,12C347.13,156.23,361.73,152.47,375.22,150Zm98.17.91A195.13,195.13,0,0,1,510,161.84,189.86,189.86,0,0,0,473.39,150.9Z" transform="translate(0.15 -0.29)"/>
              </g>
              <g>
                <path class="icon-poker-tables-cls-3" d="M422.07,513.05l-.18-5.27,1,0c1,0,100.81-3.89,149.64-47.92,25.11-22.65,33.49-44.46,36.1-58.78,2.74-15.16-.3-25.6-.33-25.7-.35-1.27-35.88-128.17-59.66-177.91C525.48,149.06,424.07,148,423.05,148h0c-1.69,0-102.58.46-126,48.36-24,49.14-60.84,176-61.2,177.29-.14.43-3.22,10.47-.57,25.79,2.48,14.34,10.66,36.23,35.57,59.1,48.56,44.55,148.22,49.18,149.22,49.23l1,0-.23,5.26-1,0a381.11,381.11,0,0,1-58-8.23C333,498.44,293.07,486,267.41,462.41c-26.09-23.94-34.65-47.1-37.23-62.31-2.77-16.26.38-26.87.74-28S268.16,243.67,292.43,194c24.6-50.31,123.16-51.26,130.37-51.26h.28c4.3,0,105.66,1.1,130.17,52.4,24,50.16,59.61,177.42,60,178.68s3.36,11.88.48,28c-2.72,15.19-11.48,38.27-37.78,62-25.87,23.33-65.85,35.45-94.84,41.52A387.09,387.09,0,0,1,423,513Zm.51-4.62.13,3.92h.3a387.76,387.76,0,0,0,57.92-7.7c28.91-6.05,68.78-18.13,94.54-41.36,26.16-23.59,34.87-46.52,37.57-61.61,2.85-15.94-.12-26.51-.47-27.66s-36-128.47-59.92-178.58c-24.34-50.94-125.29-52-129.58-52h-.27c-7.17,0-105.35.94-129.77,50.89-24.24,49.62-61.1,176.7-61.47,178s-3.47,11.62-.73,27.74c2.57,15.1,11.07,38.11,37,61.93,25.55,23.45,65.31,35.88,94.17,42.18a381.69,381.69,0,0,0,57.85,8.22h.3l.17-3.92H420c-1,0-100.9-4.68-149.64-49.41-25-23-33.28-45-35.78-59.47-2.67-15.47.46-25.67.59-26.09.37-1.27,37.19-128.2,61.24-177.39,23.6-48.27,124.88-48.73,126.59-48.73h0c1,0,102.85,1.08,126.15,49.84,23.81,49.8,59.35,176.75,59.7,178,0,.07,3.12,10.67.34,26-2.62,14.42-11,36.38-36.3,59.15-49,44.2-149.06,48.06-150.07,48.09Zm.72,3.28-.09-2.68.33,0a384.28,384.28,0,0,0,60.48-8.3c39.52-8.67,69.58-22.1,89.33-39.91,25.39-22.9,33.86-45,36.5-59.51,2.89-15.86-.32-26.2-.35-26.3-.34-1.25-36.18-128.83-59.73-178.1-23.47-49.09-125.68-50.18-126.71-50.18h0c-1.69,0-103.38.46-127.14,49.06-23,47.13-57.39,164.14-61.23,177.32l0,.17c-.34,1.16-3.18,11.45-.6,26.38,2.51,14.53,10.79,36.71,36,59.82,19.59,18,49.53,31.68,89,40.7A384,384,0,0,0,419.38,509l.33,0-.11,2.68-.34,0a393,393,0,0,1-57.11-8.16c-28.77-6.28-68.42-18.68-93.88-42-25.81-23.69-34.28-46.57-36.84-61.59-2.68-15.8.37-26.33.73-27.48,3.84-13.18,38.17-130.24,61.42-177.83C318.22,144.15,418.77,144,423.07,144s104.81,1,129,51.69c23.33,48.83,58.38,173.15,59.86,178.41l0,.09c.17.51,3.4,10.9.46,27.36-2.69,15-11.36,37.79-37.38,61.26C549.39,486,509.64,498,480.81,504a393.61,393.61,0,0,1-57.17,7.66Zm.6-2,0,1.35a393.3,393.3,0,0,0,56.73-7.63c28.75-6,68.39-18,93.95-41.06,25.88-23.33,34.49-46,37.17-60.88,2.92-16.37-.41-26.95-.45-27.05v-.11C609.84,369,574.81,244.77,551.5,196c-24-50.29-124.18-51.29-128.43-51.31h-.28c-7.16,0-104.54.93-128.61,50.18C271,242.4,236.63,359.41,232.8,372.6c-.36,1.14-3.37,11.53-.72,27.18,2.55,14.91,11,37.63,36.64,61.2,25.35,23.26,64.88,35.62,93.58,41.88A394,394,0,0,0,419,511l.06-1.35a387.68,387.68,0,0,1-60.19-8.83c-39.56-9-69.6-22.79-89.28-40.86-25.33-23.24-33.66-45.56-36.18-60.2-2.62-15.08.27-25.51.6-26.64l.06-.2c3.84-13.19,38.2-130.25,61.27-177.43,23.94-49,126-49.44,127.75-49.44h0c1,0,103.67,1.1,127.31,50.56s59.43,177,59.77,178.19c0,.06,3.28,10.61.36,26.62-2.65,14.61-11.17,36.86-36.71,59.88-19.83,17.89-50,31.38-89.63,40.07A387.06,387.06,0,0,1,423.9,509.66Z" transform="translate(0.15 -0.29)"/>
                <path class="icon-poker-tables-cls-3" d="M421.9,514.24l-.46,0-.47,0v0l-1.19-.06a382.48,382.48,0,0,1-58.14-8.26c-29.07-6.34-69.16-18.89-95-42.62-26.33-24.16-35-47.57-37.58-62.95-2.82-16.55.4-27.39.78-28.58s37.21-128.37,61.57-178.22c10.43-21.35,34.82-36.52,72.47-45.11a291.16,291.16,0,0,1,58.92-6.79h.28c4.34,0,106.39,1.14,131.2,53.05,24,50.28,59.67,177.6,60,178.87s3.44,12.15.51,28.47c-2.75,15.37-11.6,38.7-38.14,62.62-26.06,23.51-66.25,35.7-95.37,41.79a393.41,393.41,0,0,1-58.22,7.74Zm1.15-365.12a294.05,294.05,0,0,0-54.62,6.19c-25.52,5.49-58.44,17.16-70.36,41.53-24,49.06-60.76,175.83-61.13,177.11-.14.43-3.14,10.25-.54,25.27,2.45,14.17,10.55,35.81,35.22,58.46,48.19,44.22,147.5,48.89,148.5,48.93l1.27,0,1.44,0c1,0,100.36-3.84,148.91-47.62,24.87-22.44,33.16-44,35.74-58.14,2.69-14.86-.27-25.07-.3-25.17-.35-1.29-35.93-128.26-59.59-177.75C524.83,150.33,424.06,149.13,423.05,149.12Z" transform="translate(0.15 -0.29)"/>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
  <path class="icon-poker-tables-cls-4" d="M544.06,372c-1.77,11.92-7.42,30.09-24.34,48.94-32.69,36.44-100.1,39.92-100.78,39.95l-.79,0-1-.05c-.68,0-68.4-4.49-100.42-40.83-16.76-19-22.25-37.23-23.91-49.15-1.76-12.66.37-21.31.4-21.44,1-4.38,25.4-107.62,41.55-148.39,15.7-39.65,83.91-40.11,84.61-40.11s68.74.69,84.23,40.84c16,41.5,40,147.78,40.27,148.87C543.89,350.73,545.94,359.22,544.06,372Z" transform="translate(0.15 -0.29)"/>
  <path class="icon-poker-tables-cls-3" d="M420.9,569.94h.93v9.3s-.24.26-1.31,0Z" transform="translate(0.15 -0.29)"/>
</svg>
