<div class="mini-cart" data-mini-cart-container>
  {% comment %}
    Content is built by JS - see file mini_cart.js
  {% endcomment %}
</div>
<div class="mini-cart__actions">
  <a href="/cart">
    <button class="mini-cart__actions__cart">Review order</button>
  </a>
  <button type="button" class="mini-cart__actions__checkout" data-mini-cart-checkout>Checkout</button>
</div>
