<div>
  <h2>Welcome to Riverboat Gaming Poker</h2>
  <p>We see that you have disabled Javascript!</p>
  <p>Sorry, to be able to use this website you will need to re-enable it or whitelist Riverboat Gaming in your browser settings.</p>
  <p>We promise that we only use it to make using the site a better experience, and nothing more than that! :-)</p>
</div>
