<!-- TrustBox widget - Mini --> <div class="trustpilot-widget" data-locale="en-GB" data-template-id="53aa8807dec7e10d38f59f32" data-businessunit-id="575ad59b0000ff00058ff4fa" data-style-height="100px" data-style-width="75%" data-theme="light"> <a href="https://uk.trustpilot.com/review/riverboatgaming-poker.co.uk" target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->
