@mixin header-info-dropdown {
  @include card;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 0;
  margin: 0;
  padding: 0 25px;
  border-width: 0;
  border-radius: 2px;
  background: white;
  color: black;
  transition:
    height 0.6s $header-ease,
    padding 0.4s $header-ease,
    border-width 0.6s $header-ease;
  &.active {
    height: 180px;
    padding: 25px;
    border-width: 1px;
  }
  &__elements {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-out, transform 0.6s ease-out;
    color: $color-body-text-1;
    &__flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      color: $color-body-text-1;
      text-decoration: none;
    }
  }
  &.active &__elements { opacity: 1; transform: translateY(0); }
  &__close {
    position: absolute;
    top: -1px;
    right: 6px;
    font-size: 1.8em;
    color: #444444;
    cursor: pointer;
    transition: 0.2s color;
      @include hover {
      color: black;
    }
  }
}

$header-ease: cubic-bezier(0.19, 1, 0.22, 1);


// Styles begin.
.header {
  &-content {
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 8px);
    height: $header-height;
    margin: 4px;
    color: $color-body-text-1;
    background: white;
    transition: all 0.5s $header-ease;
    &.scrolled {
      opacity: 0.96;
    }
    &__left {
      z-index: 5;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      &__logo-image {
        position: absolute;
        top: 20px;
        left: 50%;
        width: 200px;
        margin-left: -100px;
        @include media-min-size($screen-medium) {
          top: 16px;
          left: 15px;
          width: 220px;
          margin-left: 0;
        }
        .rgp-logo {
          &-text { fill: $color-body-text-1; }
          &-highlight { fill: #DAA528; }
        }
      }
      &__toggle-menu-btn {
        position: absolute;
        top: 10px;
        left: 20px;
        display: block;
        opacity: 0;
        transform: scale(0) rotate(90deg);;
        transition: all 0.4s $header-ease;
        cursor: pointer;
        font-size: 1.8em;
        &.active {
          opacity: 1;
          transform: scale(1) rotate(0);
        }
        @include media-min-size($screen-medium) {
          display: none;
        }
      }
      &__mobile-nav-content {
        @include card;
        position: absolute;
        z-index: 5;
        top: $header-height;
        left: -100vw;
        width: calc(100vw - 9px);
        transform: translateX(0);
        transition: all 0.6s $header-ease;
        background: white;
        opacity: 1;
        ul {
          display: flex;
          flex-direction: column;
          padding: 0;
          list-style-type: none;
          li {
            margin: 6px;
            cursor: pointer;
            a {
              @include text-link;
            }
          }
        }
        &.active {
          transform: translateX(100vw)
        }
      }
      &__main-nav {
        display: none;
        @include media-min-size($screen-medium) {
          display: block;
          margin-left: 210px;
          ul {
            display: flex;
            list-style-type: none;
            li {
              margin-left: 20px;
              a {
                @include link;
              }
            }
          }
        }
      }
    }
    &__right {
      z-index: 5;
      display: flex;
      align-items: center;
      > div { margin-right: 20px; }
      &__help {
        &__toggle {
          display: none;
          @include media-min-size($screen-tablet) {
            display: block;
            border-bottom: 1px solid transparent;
            cursor: pointer;
            transition: border-color 0.5s;
              @include hover { border-color: #c2c2c2; transition: border-color 0.5s; }
          }
        }
        &__content {
          @include header-info-dropdown;
          width: calc(100vw - 15px);
        }
      }
      &__account {
        &__toggle {
          display: none;
          @include media-min-size($screen-tablet) {
            display: block;
            border-bottom: 1px solid transparent;
            cursor: pointer;
            transition: border-color 0.5s;
            @include hover { border-color: #c2c2c2; transition: border-color 0.5s; }
          }
        }
        &__content {
          @include header-info-dropdown;
          width: 100vw;
          @include media-min-size($screen-tablet) {
            width: 500px;
          }
          &__links {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border-radius: 6px;
            > a {
              @include secondary-btn;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 6px 12px;
              border-radius: 4px;
            }
          }
        }
      }
      &__cart {
        &__info {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 6px;;
          border: 1px solid $color-main-light-grey;
          border-radius: 2px;
          transition: 0.3s all;
          background: $color-main-white;
          @include hover {
            border-color: transparent;
            cursor: pointer;
            background: $color-main-gold;
          }
          @include hover('&__icon') {
            color: $color-main-light-grey;
          }
          &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-main-black;
            > i { font-size: 1.2em; }
          }
          &__quantity {
            position: absolute;
            top: 8px;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            color: $color-text-light-1;
            background: $color-main-blue;
            font-size: 0.9em;
          }
        }
        &__sidebar {
          position: fixed;
          top: 0;
          right: -500px;
          width: 100vw;
          height: 100%;
          max-height: 100vh;
          padding: 20px 25px 10px;
          border: 1px solid rgba(80, 112, 133, 0.4);
          border-radius: 2px;
          overflow-y: scroll;
          transition: transform 0.6s $header-ease;
          box-shadow: 1px 1px 4px 1px rgba(55, 69, 79, 0.4);
          transform: translateX(0);
          background: $color-body;
          color: $color-body-text-1;
          @include media-min-size($screen-mobile) {
            right: -100vw;
            max-width: 600px;
          }
          @include media-min-size($screen-tablet) {
            right: -600px;
            max-width: 600px;
          }
          &.active {
            transform: translateX(-500px);
            @include media-min-size($screen-mobile) {
              transform: translateX(-100vw);
            }
            @include media-min-size($screen-tablet) {
              transform: translateX(-600px);
            }
          }
          &__close {
            position: absolute;
            top: 0;
            right: 12px;
            font-size: 2.1em;
            color: #444444;
            cursor: pointer;
            transition: 0.2s color;
              @include hover {
              color: black;
            }
          }
        }
      }
    }
  }

  // homepage page header styling.
  &-content {
    &.no-bg {
      background: transparent;
      color: white;
      .header-content__left__main-nav a { color: white; }
      .rgp-logo {
        &-text { fill: white; }
      }
    }
    &.white-bg {
      box-shadow: 0 0 4px 1px rgba(0,0,0,0.1);
      background: white;
      opacity: 0.97;
      .header-content__left__main-nav a { color: $color-body-text-1; }
      .rgp-logo {
        &-text { fill: $color-body-text-1; }
      }
    }
  }
}

.logo-image {
  padding: 0 5px;
}
