@mixin header-info-dropdown {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 0;
  background: white;
  color: black;
  transition: height 0.3s ease-out, padding 0.1s ease-out, border-width 0.4s ease-out;
  border-radius: 2px;
  overflow: hidden;
  padding: 0 25px;
  border: 0px solid rgba(80, 112, 133, 0.4);
  box-shadow: 0px 0px 0px 0px rgba(55, 69, 79, 0.4);
  &.active {
    height: 200px;
    padding: 25px;
    border-width: 1px;
    box-shadow: 1px 1px 4px 1px rgba(55, 69, 79, 0.4);
  }
  &__elements {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease-out, transform 0.6s ease-out;
    color: $color-body-text-1;
    &__flex-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      color: $color-body-text-1;
      text-decoration: none;
    }
  }
  &.active &__elements { opacity: 1; transform: translateY(0); }
  &__close {
    position: absolute;
    top: -5px;
    right: 6px;
    font-size: 1.8em;
    color: #444444;
    cursor: pointer;
    transition: 0.2s color;
    &:hover {
      color: black;
    }
  }
}


// Styles begin.
.header {
  &-content {
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: $header-height;
    z-index: 20;
    position: fixed;
    width: 100%;
    &.no-hero-image {
      background: #212121;
      margin-top: -$header-height;
    }
  }
  &-left {
    display: flex;
    z-index: 5;
    box-sizing: border-box;
    &__logo-image {
      position: absolute;
      top: 26%;
      left: 20px;
      width: 220px;
      .rgp-logo {
        &-text {
          fill: white;
        }
        &-highlight {
          fill: #DAA528;
        }
      }
    }
    &__main-nav {
      margin-left: 210px;
      margin-top: 10px;
      ul {
        list-style-type: none;
        display: flex;
        li {
          margin-left: 20px;
          a {
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: border-color 0.5s;
            color: white;
            &:hover { border-bottom: 1px solid #c2c2c2; }
          }
        }
      }
    }
  }
  &-right {
    display: flex;
    z-index: 5;
    align-items: center;
    > div { margin-right: 20px; }
    &__help {
      &__toggle {
        cursor: pointer;
        transition: border-color 0.5s;
        border-bottom: 1px solid transparent;
        &:hover { border-color: #c2c2c2; transition: border-color 0.5s; }
      }
      &__content {
        @include header-info-dropdown;
        width: calc(100vw - 35px);
      }
    }
    &__account {
      &__toggle {
        cursor: pointer;
        transition: border-color 0.5s;
        border-bottom: 1px solid transparent;
        &:hover { border-color: #c2c2c2; transition: border-color 0.5s; }
      }
      &__content {
        @include header-info-dropdown;
        width: 500px;
        &__links {
          height: 40px;
          padding: 0 15px;
          background: #242424;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 6px;
          margin: 10px;
          > a { color: white; font-fize: 0.6em; font-weight: bold; display: flex; justify-content: center; align-items: center; }
        }
      }
    }
    &__cart {
      &__info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: 0.3s all;
        border-radius: 2px;
        background: #bbbbbb;
        padding: 6px;
        &:hover { cursor: pointer; background: #807f7f; }
        &__icon {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 7px;
          color: #141414;
          > i { font-size: 1.2em; }
        }
        &__quantity {
          color: $color-text-light-1;
          background: #043c7e;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
        }
      }
      &__popup {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        max-height: 100vh;
        overflow-y: scroll;
        transition: transform 0.3s ease-out;
        border-radius: 2px;
        padding: 20px 25px 10px 25px;
        border: 1px solid rgba(80, 112, 133, 0.4);
        box-shadow: 1px 1px 4px 1px rgba(55, 69, 79, 0.4);
        transform: translateX(600px);
        background: $color-body;
        color: $color-body-text-1;
        &.active {
          transform: translateX(0);
        }
        &__close {
          position: absolute;
          top: 0;
          right: 12px;
          font-size: 2.1em;
          color: #444444;
          cursor: pointer;
          transition: 0.2s color;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
}

.logo-image {
  padding: 0 5px;
}
