@keyframes cooltest {
  0% {
    filter: hue-rotate(15deg) saturate(1) invert(45%);
  }
  50% {
    filter: hue-rotate(165deg) saturate(20) invert(75%);
  }
  100% {
    filter: hue-rotate(265deg) saturate(3) invert(25%);
  }
}

.home-hero {
  margin-top: -80px;
  &__image {
    height: calc(100vh);
    overflow-y: hidden;
  }
  &__text {
    position: absolute;
    top: 15%;
    left: 5%;
    color: white;
    &__title {

    }
    &__content {
      a {
        text-decoration: none;
        color: #25c26d;
        font-weight: bold;
        &:hover { text-decoration: underline; }
      }
    }
  }
  &__overlay-card {
    @include card;
    position: absolute;
    top: 100px;
    right: 20px;
    width: 600px;
    height: 720px;
    background: white;
  }
}
