// Text colors
$color-body-text-1: var(--color-body-text-1);
$color-body-text-2: var(--color-body-text-2);
$color-text-light-1: var(--color-text-light-1);
  $color-text-dark-grey: #3d3d3e;
$color-text-grey: #3d3d3d;

// Background colors
$color-body: var(--color-main-background);
$color-body-lighten: var(--color-main-background-lighten);
$color-content-light-grey: #f5f5f5;

// Collection colours
$product-image-bg: #ffffff;
$variant-red: #632424;
$variant-blue: #0e2a5c;
$variant-green: #0b4d25;
$variant-black: #121414;

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);
$color-tag-item-bg: var(--color-tag-item-bg);

$color-product-info-bg: var(--color-product-info-bg);
$color-main-green: #006b5b;
$color-main-gold: #DAA528;
$color-main-grey: #737373;
$color-main-light-grey: #d7d7d7;
$color-main-white: #ffffff;
$color-main-red: #ff6d6d;
$color-main-black: #151515;
$color-main-blue: #08839e;
$color-info-box-item-bg: $color-main-green; // Hook into schema no longer being used! var(--color-info-box-item-bg);

// Helper colors for form error states
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;

// Accounts and registration forms.
$login-form-primary: $color-main-green;
$login-form-red: $color-error;
$login-form-neutral: #707070;

// Typography
$font-heading: var(--font-heading);
$font-heading-weight: var(--font-heading-weight);

$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

$font-script-style: var(--font-script-style);

// Transitions
$transition-duration: 250ms;
$transition-timing: ease-in-out;

// Grid (Defaults provided by Shopify slate starter)
$grid-medium: 46.85em;
$grid-large: 61.85em;
$grid-widescreen: 87.5em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;

// Device specific widths. Always use min-width for these.
// Design should only break upwards to 'less' mobile when size is greater than. 'Mobile first with buffer'
// https://ricostacruz.com/til/css-media-query-breakpoints
$screen-mobile: 23.438em; // 375px
$screen-tablet: 41.688em; // 677px.
$screen-landscape: 52em;
$screen-medium: 64em; // 1024px
$screen-large: 85.375em; // 1366px
$screen-wide: 105em; // 1680px


// Breakpoints used with the media-query mixin
$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);

// Layout.
$header-height: 70px;
$footer-height: 250px;
$main-padding-top: 7px;
$loader-width: 25px;
