@include createFadeKeyFrames(saved-icon-fadein, 0, 1);

.cart-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 98vw;
  @media (hover: none) {
    // No scroll bars...
    width: 100vw;
  }
  padding: 6px;
  @include media-min-size($screen-medium) {
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;
  }
  &__back-link {
    position: absolute;
    top: 0;
    left: 9px;
    a {
      @include text-link;
      font-size: 0.9em;
      i { font-size: 0.7em; }
    }
  }
  &__update-error {
    position: fixed;
    top: calc(#{$header-height} + 20px);
    display: none;
    width: calc(100% - 6px);
    margin: 0 auto;
    text-align: center;
    color: $color-main-red;
    background: white;
    border-radius: 4px;
    z-index: 10;
    border: 2px solid $color-error;
    padding: 10px 0;
    @include media-min-size($screen-mobile) {
      width: calc(100% - 10px);
    }
    @include media-min-size($screen-tablet) {
      width: calc(100% - 18px);
    }
    @include media-min-size($screen-medium) {
      width: calc(100% - 28px);
      max-width: 1180px;
    }
    &.show {
      display: block;
      animation: saved-icon-fadein 0.5s;
    }
  }
  > h1 { text-align: center; font-weight: normal; }
  &__lines {
    border: 1px solid $color-main-light-grey;
    border-radius: 4px;
    &__line {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $color-main-light-grey;
      &:last-child { border-bottom: none; }
      padding: 10px 6px;
      @include media-min-size($screen-tablet) {
        padding: 10px;
      }
      opacity: 1;
      transition: opacity 0.4s;
      > div {
        padding: 2px;
        @include media-min-size($screen-tablet) {
          padding: 8px;
        }
      }
      &.fade-out {
        opacity: 0
      }
      &__thumb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 90px;
        flex-basis: 25%;
        a { display: flex; align-items: center; }
      }
      &__info {
        display: none;
        a { text-decoration: none; color: $color-body-text-1; }
        p { margin: 0; font-weight: bold; display: inline; margin-left: 3px; }
        &.mobile {
          display: block;
          text-align: center;
          align-items: center;
          font-size: 0.9em;
          max-width: 400px;
          padding: 6px 12px 4px 12px;
          @include media-min-size($screen-tablet) {
            display: none;
          }
        }
        &.desktop {
          @include media-min-size($screen-tablet) {
            display: block;
            max-width: 500px;
          }
        }
      }
      &__quantity {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 50%;
        &__adjust {
          display: flex;
          flex-direction: column;
          width: 65px;
          &__input {
            height: 40px;
            cursor: pointer;
            border: 1px solid rgba(226, 226, 226, 0.8);
            border-radius: 1px;
            text-align: center;
            transition: border-color 0.3s;
            outline: none;
            &[type=number]::-webkit-inner-spin-button,
            &[type=number]::-webkit-outer-spin-button {
                appearance: none;
                margin: 0;
            }
            &:focus {
              border-color: rgba($color-main-blue, 0.7);
            }
          }
          &__icons {
            display: flex;
            justify-content: space-around;
            font-size: 1.2em;
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 4px;
              width: 50%;
              border: 1px solid $color-main-light-grey;
              border-radius: 1px;
              color: $color-main-grey;
              text-align: center;
              background: #f9f9f9;
              @include hover { cursor: pointer; border-color: $color-main-blue; }
            }
          }
        }

        &__save {
          position: absolute;
          @include secondary-btn;
          padding: 10px;
          font-size: 0.8em;
          opacity: 0;
          transition: opacity 0.4s;
          margin: 4px;
          left: 75%;
          top: 50%;
          transform: translateY(-50%);
          cursor: default;
          &.show {
            cursor: pointer;
            opacity: 1;
          }
        }
        &__saved-icon {
          position: absolute;
          display: none;
          transition: opacity 0.4s;
          left: 75%;
          top: 50%;
          transform: translate(50%, -50%);
          color: $color-main-green;
          font-size: 1.8em;
          &.show {
            display: block;
            animation: saved-icon-fadein 0.5s;
          }
        }
      }
      &__total {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        flex-basis: 25%;
        &__money {

        }
        &__delete {
          cursor: pointer;
          i {
            color: $color-main-red;
            font-size: 1.8em;
          }
        }
      }
    }
  }
  &__lower {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include media-min-size($screen-medium) {
      flex-direction: row;
      padding-top: 10px;
    }
    &__note {
      flex-grow: 1;
      &__heading {
        &__saved {
          opacity: 0;
          transition: opacity 0.4s;
          color: $color-main-green;
          font-size: 0.9em;
          i { padding-left: 6px; font-size: 0.8em; }
          &.show {
            opacity: 1;
          }
        }
      }
      &__textarea {
        width: 100%;
        font-size: 0.9em;
        @include media-min-size($screen-medium) {
          max-width: 600px;
          margin-right: 15px;
        }
        padding: 10px;
        border: none;
        border: 1px solid $color-main-light-grey;
        border-radius: 4px;
        background: #f8f9fa;
      }
    }
    &__totals {
      padding: 4px;
      flex-grow: 1;
      div { margin-top: 4px; margin-bottom: 4px; }
      @include media-min-size($screen-medium) {
        min-width: 400px;
        max-width: 40%;
      }
      &__subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-main-grey;
      }
      &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-main-grey;
      }
    }
  }
  &__checkout-form {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
    &__btn {
      @include checkout-btn;
      width: 100%;
      padding: 16px 18px;
    }
    i { font-size: 0.9em; color: #e6e6e6; }
  }
  &__trustbox {
    margin-top: 20px;
    border-top: 1px solid $color-main-light-grey;
  }
}
