@include createFadeKeyFrames(saved-icon-fadein, 0, 1);

.cart-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 8px);
  margin: 4px;
  padding: 10px;
  @include media-min-size($screen-tablet) {
    margin: 0 auto;
    max-width: 1100px;
  }
  &__back-link {
    position: absolute;
    top: -10px;
    left: 7px;
    a {
      @include text-link;
      font-size: 0.9em;
      i { font-size: 0.7em; }
    }
  }
  &__update-error {
    position: absolute;
    top: 20px;
    display: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: $color-main-red;
    font-size: 0.9em;
    &.show {
      display: block;
      animation: saved-icon-fadein 0.5s;
    }
  }
  > h1 { text-align: center; font-weight: normal; }
  &__lines {
    border: 1px solid $color-main-light-grey;
    border-radius: 4px;
    &__line {
      border-bottom: 1px solid $color-main-light-grey;
      &:last-child { border-bottom: none; }
      display: flex;
      justify-content: space-between;
      padding: 10px;
      opacity: 1;
      transition: opacity 0.4s;
      > div { padding: 8px; }
      &.fade-out {
        opacity: 0
      }
      &__thumb {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &__info {
        max-width: 420px;
        a { text-decoration: none; color: $color-body-text-1; }
        p { margin: 0; }
      }
      &__quantity {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80px;
        &__input {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 45px;
          height: 35px;
          padding-left: 10px;
          border: 1px solid rgba(226, 226, 226, 0.8);
          border-radius: 2px;
          text-align: center;
          transition: border-color 0.3s;
          outline: none;
        }
        &__save {
          position: relative;
          top: 4px;
          opacity: 0;
          transition: opacity 0.4s;
          cursor: default;
          &.show {
            cursor: pointer;
            opacity: 1;
          }
        }
        &__saved-icon {
          position: absolute;
          top: 40px;
          left: 50%;
          display: none;
          transform: translateX(-50%);
          transition: opacity 0.4s;
          color: $color-main-green;
          font-size: 1.2em;
          &.show {
            display: block;
            animation: saved-icon-fadein 0.5s;
          }
        }
        &__delete {
          i { color: $color-main-red; font-size: 1.1em;}
        }
      }
    }
  }
  &__lower {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include media-min-size($screen-medium) {
      flex-direction: row;
      padding: 10px;
    }
    &__note {
      &__heading {
        &__saved {
          opacity: 0;
          transition: opacity 0.4s;
          color: $color-main-green;
          font-size: 0.9em;
          i { padding-left: 6px; font-size: 0.8em; }
          &.show {
            opacity: 1;
          }
        }
      }
      &__textarea {
        width: 100%;
        font-size: 0.9em;
        @include media-min-size($screen-medium) {
          width: 500px;
          margin-left: 40px;
        }
        padding: 10px;
        border: none;
        border: 1px solid $color-main-light-grey;
        border-radius: 4px;
        background: #f8f9fa;
      }
    }
    &__totals {
      div { margin: 3px 0; }
      @include media-min-size($screen-medium) {
        min-width: 400px;
        max-width: 30%;
      }
      &__subtotal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-main-grey;
      }
      &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-main-grey;
      }
    }
  }
  &__checkout-form {
    display: flex;
    justify-content: flex-end;
    padding: 8px 0;
    &__btn {
      @include checkout-btn;
      width: 100%;
      padding: 16px 18px;
    }
    i { font-size: 0.9em; color: #e6e6e6; }
  }
  &__trustbox {
    margin-top: 20px;
    border-top: 1px solid $color-main-light-grey;
  }
}
