.collection {
  padding: 8px;
  &__header {
    display: flex;
    align-items: baseline;
    margin: 0 8px;;
    flex-wrap: wrap;
    &__heading {
      margin: 0 8px 0 0;
    }
    &__description {
      color: $color-body-text-1;
    }
  }
  &__products {
    position: relative;
    @include products-grid;
    &__loader { top: 100px; }
  }
}
