.collection {
  padding: 4px 8px;
  &__header {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1em;
    text-align: center;
    background: $color-content-light-grey;
    color: $color-text-dark-grey;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    align-items: baseline;
    padding: 10px;
    &__heading {
      margin: 0 8px 0 0;
      display: flex;
    }
    &__description {
      color: $color-body-text-1;
    }
  }
  &__products {
    position: relative;
    @include products-grid;
    &__loader { top: 100px; }
  }
}
