@include createSlideKeyFrames(product-page-slide, 0, 20px);
@include createFadeKeyFrames(product-page-fadein, 0, 1);

.product {
  &__heading {
    font-size: 1.3em;
    margin: 0;
    text-align: center;
    padding: 5px 10px;
    @include media-min-size($screen-tablet) {
      padding: 15px 0 0 30px;
    }
  }
  &__content {
    padding: 10px;
    animation: product-page-fadein 0.4s ease-in-out, product-page-slide 0.5s ease-in-out;
    @include media-min-size($screen-tablet) {
      padding: 10px 20px;
    }
    &__upper {
      display: flex;
      flex-direction: column;
      @include media-min-size($screen-medium) {
        flex-direction: row;
      }
      &__gallery {
        flex-basis: 100%;
        @include card;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        height: 600px;
        @include media-min-size($screen-medium) {
          flex-basis: 70%;
        }
        .image-gallery-nav {
          display: none;
          @include media-min-size($screen-medium) {
            display: block;
            padding: 10px;
            flex-basis: 15%;
            max-height: 600px;
            overflow-y: auto;
            overflow-x: hidden;
            margin-right: 15px;
            border-right: 1px solid $color-main-light-grey;
          }
          img {
            padding: 4px;
            border-radius: 3px;
            transition: all 0.5s;
            border: 1px solid transparent;
            &:hover { cursor: pointer; }
            &.selected-thumbnail { border-color: $color-main-gold; }
          }
        }
        .image-gallery {
          flex-basis: 100%;
          @include media-min-size($screen-medium) {
            flex-basis: 85%;
          }
        }
      }
      &__info {
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        @include media-min-size($screen-tablet) {
          flex-basis: 30%;
        }
        > div {
          flex-grow: 1;
        }
        &__add-form {
          @include card;
          position: fixed;
          bottom: 0;
          width: 100%;
          left: 0;
          z-index: 20;
          @include media-min-size($screen-medium) {
            position: relative;
            z-index: 1;
          }
        }
        &__delivery-info, &__custom-info {
          position: relative;
          @include card;
          i {
            position: absolute;
            top: 10px;
            right: 10px;
            opacity: 0.3;
          }
        }
        &__trustbox-mini {
          @include card;
          display: flex;
          justify-content: space-between;
          padding: 4px 2px;
          &__trustbox {
            flex-basis: 50%;
            margin: 2px 4px;
            div {
              display: flex;
              justify-content: center;
              align-items: center;
              background: #f3f3f3;
              border-radius: 6px;
              height: 100%;
            }
          }
          &__return-icon {
            background: #f3f3f3;
            border-radius: 6px;
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            line-height: 1.4;
            margin: 2px 4px;
            i { font-size: 1.3em; color: $color-main-black; }
          }
        }
        &__payment-icons {
          @include card;
          display: flex;
          justify-content: space-around;
          align-items: center;
          i { font-size: 1.9em; color: $color-main-black; padding: 0 3px; }
        }
      }
    }
    &__lower {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 10px 0;
      @include media-min-size($screen-medium) {
        flex-direction: row;
      }
      &__bullet-points {
        @include card;
        padding: 20px;
        flex-basis: 100%;
        font-size: 1.1em;
        @include media-min-size($screen-medium) {
          flex-basis: 49.5%;
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          li {
            margin: 5px 0;
            padding: 10px;
            background: $color-info-box-item-bg;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            color: $color-text-light-1;
            border-radius: 6px;
          }
        }
      }
      &__description {
        @include card;
        padding: 20px;
        flex-basis: 100%;
        @include media-min-size($screen-medium) {
          flex-basis: 49.5%;
        }
      }
    }
  }
}
