{%- comment -%}
  Responsive full width image with text area on the left and info overlay box on the right.
{%- endcomment -%}

<section data-section-id="{{ section.id }}" data-section-type="home-hero" class="home-hero">
  <div class="home-hero__image">
    {% if section.settings.image != blank %}
      {% include 'responsive-image' with
        image: section.settings.image,
        image_class: "home-hero__image__img"
        max_width: 2000,
        max_height: 800 %}
    {% else %}
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    {% endif %}
  </div>
  <div class="home-hero__text">
    <div class="home-hero__text__title">
      <h1>{{ section.settings.title }}</h1>
    </div>
    <div class="home-hero__text__content">
      {{ section.settings.text }}
    </div>
  </div>
  <div class="home-hero__overlay-card">
    {% include 'trustbox-list-widget' %}
  </div>
</section>


{% schema %}
  {
    "name": "Hero Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Choose a hero image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "A home hero"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text content",
        "default": "<p>My custom text with <strong>formatting!</strong></p>"
      }
    ],
    "presets": [
      {
        "name": "Main hero image",
        "category": "Hero Image"
      }
    ]
  }
{% endschema %}
