<section
  class="recommended-products"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="recommended-products"
  data-recommended-products-wrapper
>
  <h3>Similar products...</h3>
  <div data-recommended-products-wrapper>
    {% comment %}
      Rendered by /sections/recommended_products.js
    {% endcomment %}
  </div>
</section>
