<section
  class="recommended-products"
  data-product-id="{{ product.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="recommended-products"
  data-recommended-products-wrapper
>
  {% comment %}
    Rendered by /sections/recommended_products.js
  {% endcomment %}
</section>
